    <!-- {% else %}  

    <div class=" container">
        <div class="header">
            <h3>SignUp</h3>
        </div>
        <div class="form-container"  style="display: flex;
            justify-content: space-evenly;
            padding: 2em 0;
            align-items: center;">


        <form action="" method="POST">
            {% csrf_token %} 

            {{form.as_p}}
            <input type="submit" name="submit" value="SignUp" style="color:green; font-weight: bolder;">
        </form>
        <div style="background:rgb(3, 51, 3); border-radius: 8px;padding: 3px; text-align: center;">
            <p>Already signed up?</p><a href="{% url 'login' %}" style="color:rgba(0,212,255,1)">logIn here</a>
        </div>
    </div>

    </div> -->